<section class="d-flex-col user-container center">
  <h2>Sign up</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :name, autofocus: true, placeholder: "Name" %>
    </div>

    <div class="field">
      <%= f.text_area :bio, autofocus: true, placeholder: "Bio" %>
    </div>

    <div class="field">
      <%= f.text_field :photo, autofocus: true, placeholder: "Link to photo" %>
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password" %>
    </div>

    <div class="field">
      <ul>
        <li>User <%= f.radio_button :role, 'User', :checked => true %></li>
        <li>Admin <%= f.radio_button :role, 'Admin' %></li>
      </ul>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>
