<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container d-flex-col">
      <nav class="d-flex-col nav">
        <section class="d-flex nav-sect">
          <% if user_signed_in? %>
            <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Sign In', new_user_session_path %>
            <%= link_to 'Sign Up', new_user_registration_path %>
          <% end %>
        </section>
        <section class="d-flex-col nav-sect">
          <p class="d-flex notice"><%= notice %></p>
          <p class="d-flex alert"><%= alert %></p>
        </section>
      </nav>
      <%= yield %>
    </main>
  </body>
</html>
